__pycache__/
*.pyc
*.pyo
_LOGs/
_USER_DATA/
_IMAGEs/
.venv
test.py
examples/
resources/hadith_data(depricated)
resources/hadith_backgroud_image_set
_GENERATED
.ruff_cache
lib/
lib64
bin/
*.cfg
include
output.jpg
lib/
lib64/
bin/
*.cfg
